{% extends "base.html" %}

{% block title %}ورود{% endblock %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card bg-secondary text-light">
            <div class="card-header text-center">ورود به سیستم</div>
            <div class="card-body">
                <form method="POST" action="{{ url_for('login') }}">
                    <div class="mb-3">
                        <label for="email" class="form-label">ایمیل:</label>
                        <input type="email" class="form-control form-control-dark" id="email" name="email" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">رمز عبور:</label>
                        <input type="password" class="form-control form-control-dark" id="password" name="password" required>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">ورود</button>
                </form>
                <p class="text-center mt-3">حساب کاربری ندارید؟ <a href="{{ url_for('register') }}" class="text-light">ثبت‌نام کنید</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}