{% extends "base.html" %}

{% block title %}داشبورد استاد{% endblock %}

{% block content %}
<button class="btn btn-secondary mb-3" onclick="history.back()">بازگشت</button>
<h1 class="text-center mb-4">داشبورد استاد</h1>
<p class="text-center">خوش آمدید، استاد {{ current_user.last_name }} عزیز!</p>

<div class="text-center mb-4">
    <a href="{{ url_for('manage_courses') }}" class="btn btn-info text-dark">مدیریت درس‌ها</a>
    <a href="{{ url_for('create_assignment') }}" class="btn btn-primary">برای تعریف تکلیف</a>
</div>


<h2 class="mt-5" id="assignments">تکالیف تعریف شده شما</h2> {# اضافه شدن id برای لینک از صفحه مدیریت درس #}
{% if defined_assignments %}
    <div class="table-responsive">
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th scope="col">عنوان</th>
                <th scope="col">درس</th>
                <th scope="col">تاریخ تعریف</th>
                <th scope="col">مهلت ارسال</th>
                <th scope="col">عملیات</th>
                <th scope="col">حذف</th>
            </tr>
        </thead>
        <tbody>
            {% for assignment in defined_assignments %}
            <tr>
                <td><a href="{{ url_for('assignment_submissions', assignment_id=assignment.id) }}" class="text-light">{{ assignment.title }}</a></td>
                <td>{{ assignment.course.name if assignment.course else '-' }}</td> {# استفاده از assignment.course.name #}
                <td>{{ assignment.created_date.strftime('%Y-%m-%d %H:%M') }}</td>
                <td>
                    {% if assignment.deadline %}
                        {{ assignment.deadline.strftime('%Y-%m-%d %H:%M') }}
                    {% else %}
                        نامحدود
                    {% endif %}
                </td>
                 <td>
                    <a href="{{ url_for('edit_assignment', assignment_id=assignment.id) }}" class="btn btn-sm btn-warning">ویرایش</a>
                </td>
                <td>
                    <form action="{{ url_for('delete_assignment', assignment_id=assignment.id) }}" method="POST" onsubmit="return confirm('آیا از حذف این تکلیف مطمئن هستید؟ تمام فایل‌های ارسالی مربوط به این تکلیف نیز حذف خواهند شد.');">
                        <button type="submit" class="btn btn-sm btn-danger">حذف</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
{% else %}
    <p>شما هنوز تکلیفی تعریف نکرده‌اید.</p>
{% endif %}

{# بخش نمایش تمام سابمیشن‌ها حذف شده است #}

<p class="text-center mt-4"><a href="{{ url_for('logout') }}" class="btn btn-danger">خروج</a></p>
{% endblock %}